

.topnav {
    overflow: hidden;
    background-color: white;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav-left {
float: left;
}

.topnav-right {
float: right;
}

.nav-list {
color: black;
text-decoration: none;
padding: 10px
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid black;
    margin: 0rem 0!important;
}


.row.profile {
    margin-top: 50px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
.login-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.login-form-control {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px !important;
}

p.profile {
    margin: 0px;

}

/* people */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    padding: 15px;
    width: 75%;
}
.peopleSearch {
    text-align: end;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
}

/* profile */

.dot {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 70px;            /* Footer height */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}